@model IEnumerable<AV.Models.Auftrag>

@{
    ViewData["Title"] = "Aufträge";
}

<h1>Aufträge</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-outline-secondary">Neuer Auftrag</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Beschreibung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
             
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Beschreibung)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.Adresse.Name)
            </td>
         
            <td class="edit-area">
                <a asp-action="CreateOrder" asp-controller="Auftrag" asp-route-id="@item.Id"><span class="material-symbols-outlined">add</span></a>
                <a asp-action="Edit" asp-route-id="@item.Id"><span class="material-symbols-outlined">edit</span></a>
                <a asp-action="Details" asp-route-id="@item.Id"><span class="material-symbols-outlined">manage_search</span></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><span class="material-symbols-outlined">delete</span></a>
            </td>
        </tr>
}
    </tbody>
</table>
